[Desktop Entry]
Type=Application
Name=OpenYAMM
Comment=OpenYAMM game engine
Exec=openyamm
Icon=io.github.openyamm.OpenYAMM
Categories=Game;RolePlaying;
Terminal=false
